:root{
    --primary-color: #04956D;
    --secondary-color: #F1F3F2;
    --text-color: #353535;
    --accent-color: #ffab0f;
    --accent-color-2: #FFDD00;

    --light-grey-color: #f1f1f1;

    --primary-color-darker: #00724e;
    --primary-visited-color: #6fc7ba;
    --error-subtle-color: #ffc5cc;
    --error-color: rgb(255, 49, 49);
    --error-color-darker: rgb(187, 25, 25);
    --info-subtle-color: #b3dfff;
    --info-color: #008cff;
    --info-color-darker: #0267b9;
    --warning-color: #F8A704;
    --warning-color-darker: #ee8f00;

    --text-dark-color: #414141;
    --error-text-color: rgb(255, 49, 49);
    --info-text-color: #008cff;
}

.body{
    background-color: #F1F3F2;
    font-family: 'Poppins', sans-serif, 400;
    color: var(--text-dark-color) !important;
}

.text-dark-color{
    color: var(--text-dark-color);
}
.text-danger-color{
    color: var(--error-color);
}
.text-warning-color{
    color: var(--warning-color);
}
.bg-primary-color{
    background-color: var(--primary-color);
}

.bg-subtle-danger{
    background-color: #d14753;
}

.bg-subtle-primary{
    background-color: rgb(85, 165, 218);
}

.bg-subtle-success{
    background-color: #1da779;
}


header.navbar{
    background-color: var(--primary-color);
    padding: 10px 40px;
}

nav.navbar{
    padding: 10px 40px;
}
.navbar-overflow-x{
    overflow-x: scroll;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.navbar-overflow-x::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.navbar-overflow-x {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.top-nav{
    text-decoration: none;
    color: var(--text-color);
    border-radius: 10px;
    padding: 5px 10px;
    background-color: white;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.336);
    padding: 7px 15px;
    white-space: nowrap;
    transition: background-color 0.3s ease;
}
.top-nav:hover{
    background-color: var(--primary-color);
    color: white;
}
.top-nav-active{
    background-color: var(--accent-color);
    color: white;
}
.top-nav-active:hover{
    background-color: var(--primary-color-darker);
    color: white;
}

.navbar-card{
    background-color: white;
    padding: 5px 20px;
    height: 50px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.main-content{
    padding: 0px 40px;
}

h2{
    color: var(--text-color);
    font-size: 1.5rem;
}
h3{
    color: var(--text-color);
    font-weight: 400;
}
.fs-10{
    font-size: 10px;
}
.fs-12{
    font-size: 13px;
}
.fs-13{
    font-size: 13px;
}
.fs-15{
    font-size: 13px;
}
.fs-20{
    font-size: 20px;
}
.fs-30{
    font-size: 30px;
}
.widget-title{
    color: var(--text-color);
    font-size: 1.2rem;
    font-weight: 400;
}

.widget-container{
    width: 50%;
}
.widget-container-lg{
    width: 100%;
}

.navbar-brand{
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: #ffffff;
}

.text-primary-color{
    color: var(--primary-color);
}
.text-danger-color{
    color: var(--error-color);
}
.text-color{
    color: var(--text-color);
}

.btn-cta-primary{
    background-color: var(--primary-color);
    text-decoration: none;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 7px 10px;
    transition: background-color 0.3s ease;
}
.btn-cta-primary:hover{
    background-color: var(--primary-color-darker);
    color: white;
}
.btn-cta-primary:active{
    background-color: var(--accent-color);
    color: white;
}

.card-md{
    flex: 1;
    border-radius: 10px;
    background-color: white;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.16);
    padding: 20px 5px;
}
.card-md-wfixed{
    border-radius: 10px;
    background-color: white;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.16);
    padding: 20px 20px;
    width: 250px;
}

.card-rounded-top-title{
    border-radius: 9px 9px 0px 0px; ;
}
.card {
    border-radius: 10px;
    /* background-color: white; */
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.16);
}

.profile-photo{
    width: 100%;
    height: 150px;
    object-fit: cover;
}

#leave-ms-container{
    flex-wrap: wrap;
}
#leave-balance-container{
    flex-wrap: wrap;
    /* white-space: wrap; */
    overflow-x: auto;
    padding: 0px 20px 20px 0px;
}
#leave-balance-container-inner{
    flex-wrap: wrap;
    /* white-space: wrap; */
    overflow-x: hidden;
}

@media only screen and (max-width: 998px) {
    .widget-container{
        width: 100%;
    }
    .card-md{
        flex-basis: 35%;
    }
}
@media only screen and (max-width: 768px) {
    header.navbar {
        padding: 10px 10px;
    }
    nav.navbar{
        padding: 10px 10px;
    }
    .main-content{
        padding: 0px 10px;
    }
    .navbar-card{
        height: 40px;
        padding: 5px 10px;
    }
    h3{
        font-size: 1.3rem;
    }
    h2{
        font-size: 1.1rem;
    }
    .btn-cta-primary{
        font-size: 0.8rem;
    }
    .widget-container{
        width: 100%;
    }
    .card-md{
        flex-basis: 35%;
        padding: 10px 0px;
    }
    .card-md-wfixed{
        flex-basis: 200px;
        padding: 10px 0px;
    }

    #leave-balance-container{
        /* flex-wrap: nowrap; */
        flex-wrap: nowrap;
        white-space: nowrap;
        overflow-x: scroll;
    }
    /* Hide scrollbar for Chrome, Safari and Opera */
    #leave-balance-container::-webkit-scrollbar {
        display: none;
    }
    /* Hide scrollbar for IE, Edge and Firefox */
    #leave-balance-container {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }
}
