.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;

  // Breakpoints
  @media (min-width: 540px) {
    max-width: 540px;
  }

  @media (min-width: 720px) {
    max-width: 720px;
  }

  @media (min-width: 960px) {
    max-width: 960px;
  }

  @media (min-width: 1140px) {
    max-width: 1140px;
  }

  @media (min-width: 1320px) {
    max-width: 1320px;
  }
}
