@import "tailwindcss";  
@font-face {
  font-family: 'White Chick Font'; 
  /* The path is relative to the SCSS file */
  src: url('../src/fonts/white-chick.ttf') format('truetype'); 
  font-weight: normal;
  font-style: normal;
}

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; 
}

html,
body {
  @apply bg-white dark:bg-[#000000];

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }

  font-family: "Poppins", sans-serif; 
}
